.big_container {
    margin: 20px auto;
    width: 600px;
    padding: 0px 20px 20px 20px;
    text-align: center;
    border-radius: 25px;
}

.login_title {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #66ffff, 0 0 30px #66ffff, 0 0 40px #66ffff, 0 0 50px #66ffff, 0 0 75px #66ffff;
  letter-spacing: 5px;
}

th {
  text-align: left;
}

.login {
    color: #B4cde5;
    text-shadow: 1px 1px white, -1px -1px #444 
}

.signup {
  color: rgb(231, 186, 186);
  text-shadow: 1px 1px white, -1px -1px #444 }


body {
  background-image: url('http://24.media.tumblr.com/09d144943802daad98c4556e0961eb66/tumblr_mzzqxabKjH1st5lhmo1_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}