<!-- Should display a button that says "Invite a Mate", which opens the facebook send dialogue.
The link that prepopulates the message to be sent should be a join group link pointing to the user's group id.-->
<script>var current_user_group_id = <%= User.find(session[:user_id]).group_id %></script>
<h1 class='invite'>Invite a Mate!</h1>

<!-- application.js has an event listener that listens for a click on .invite.
It triggers the facebook invite popup, prepopulated with a link to join the group of the current user.-->