<div class="big_container_create_group">
	<h1 >Create a group below:</h1><br>
	<form action='/groups' method="post">
		<div class="form-group">
			<label>Group Name:</label>
	  	<input style="color:black" type="text" name="name" placeholder="Group name"><br><br>
	  	
	  	<label>Max Price:</label>
	  	<input style="color:black" type="text" name="max_price" placeholder="Max Price"><br><br>

			<label>Number of Bathrooms:</label>
	  	<select name="bedrooms">
	  		<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select><br><br>

			<label>Number of Bedrooms:</label>
	  	<select name="bathrooms">
	  		<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select><br><br>

			<label>Neighborhood:</label>
	  	<select name="neighborhood">
				<option>SOMA</option>
				<option>Marina</option>
				<option>Chinatown</option>
				<option>North Beach</option>
			</select>

		
			<button type="submit" class="btn btn-success">Create your group!</button>
		</div>
	</form>
</div>