<h2 class="group_title">Group Name</h2>

<div class="row">
	<div class="photo col-md-4">
	<table >
		<tr>
			<td><img src="https://avatars3.githubusercontent.com/u/6128134?s=460" alt=""></td>
			<td><img src="https://avatars3.githubusercontent.com/u/6128134?s=460" alt=""></td>
		</tr>
		<tr>
			<td><img src="https://avatars3.githubusercontent.com/u/6128134?s=460" alt=""></td>
			<td><img src="https://avatars3.githubusercontent.com/u/6128134?s=460" alt=""></td>
		</tr>
	</table>
	</div>
	<div class="col-md-8">
		<div class="box"></div>
	</div>
</div>