<h2 class="group_title">Group Name</h2>
<div class="group">
<div class="row">
	<div class="photo col-md-4">
	<table >
		<tr>
			<td><img src="https://avatars3.githubusercontent.com/u/6128134?s=460" alt=""></td>
			<td><img src="https://avatars3.githubusercontent.com/u/6128134?s=460" alt=""></td>
		</tr>
		<tr>
			<td><img src="https://avatars3.githubusercontent.com/u/6128134?s=460" alt=""></td>
			<td><img src="https://avatars3.githubusercontent.com/u/6128134?s=460" alt=""></td>
		</tr>
	</table>
	</div>
	<div class="preference col-md-4">
			<h3>Group Preference</h3>
			<ul>
				<li>4 Bedrooms</li>
				<li>2 Bathrooms</li>
				<li>Soma</li>
				<li>$4500-$5000</li>
			</ul>
	</div>

	<div class="all_listing col-md-8">
		<div class="listing col-md-6">
			<div class="photo col-md-2">
				<img src="https://avatars3.githubusercontent.com/u/6128134?s=460" alt="">
			</div>
			<div class="comments col-md-4">
				hey guys what's up
			</div>
		</div>
		
	</div>
</div>
</div>

