<div class="container">
  <h1>Welcome to Homebase!</h1>
  <p>Hello, <%= em("fellow boots!") %></p>
</div>


<div>
  <a href="http://www.rentrent.org/RENT/Ads.aspx?xmin=-118.01925659179687&ymin=33.71948521132481&xmax=-117.68142700195314&ymax=33.85644642218431&bd=&ba=&pets=-1&type=2&throwErrorIfOverLimit=false&callback=xxx">I love APIs!</a>
</div><br><br><div>
  <a href="/pages/sample">Single listing!</a>

</div>
