<div class="container">
  <h1>Welcome to Homebase!</h1>
  <h3>Band together to find a great home</h3>
  <p>Hello, <%= em("fellow boots!") %></p>
  <a href="http://www.rentrent.org/RENT/Ads.aspx?xmin=-118.01925659179687&ymin=33.71948521132481&xmax=-117.68142700195314&ymax=33.85644642218431&bd=&ba=&pets=-1&type=2&throwErrorIfOverLimit=false&callback=xxx">I love APIs!</a><br><br>
  <a href="/pages/sample">Single listing!</a>
  <a href="/pages/sample">Single listing!</a>
  <a href="/pages/sample">Single listing!</a>
  <a href="/pages/sample">Single listing!</a>
  
  <%= erb :_facebook_login %>

</div>
