<div class="big_container_user">
	<h1>Welcome, <%= @user.username %>!</h1>
		<img id="user_profile_pic" src="https://avatars3.githubusercontent.com/u/6128134?s=460" alt="">
	<br>

	<% if @user.group == nil %>
		<form action='/groups/new' method="get">
			<button class="btn btn-success" type="submit">Create a Group</button>
		</form><br><br>
	<% else %>
		<h2>Your group:</h2>
		<form action="/groups/<%=@user.group.id%>" method="get">
			<button class="btn btn-warning" type="submit"><%= @user.group.name %></button>
		</form><br><br>
	<% end %>

</div>
